@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/***** CSS RESET *****/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Header styles */
.nav-link {
  @apply text-xl font-bold duration-300;
}

.nav-link:hover, .active {
  @apply text-green-700;
}

.nav__icons li:hover {
  @apply border-green-700 duration-300 ease-in-out;

  @media (min-width: 1024px) {
    @apply border-white;
  }
}

.nav__icons li:hover a {
  @apply text-green-700 duration-300 ease-in-out;

  @media (min-width: 1024px) {
    @apply text-white;
  }
}

/* Hero section */

h1 {
  @apply text-white text-5xl font-bold md:text-7xl lg:text-[80px] xl:text-[100px];
}

h2 {
  @apply text-3xl font-bold md:text-5xl;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-base font-bold sm:text-lg;
}

/* About */

.btn_primary, .btn_secondary {
  @apply relative flex h-14 w-48 bg-green-800 items-center justify-center text-white uppercase shadow-2xl overflow-hidden transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-white before:duration-500 before:ease-out hover:text-black hover:before:h-60 hover:before:w-60;
}

.btn_secondary {
  @apply bg-black;
}

/* Animation styles */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  min-height: 100vh;
}

.hero img {
  width: 50%;
  aspect-ratio: 1;
}

.main {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card-image {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: .75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;
  height: 250px;
  overflow: hidden;
  transform: scale(0);
}

.copy {
  line-height: 100%;
}

.line {
  position: relative;
  margin: .5em 0;
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.line p {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
  line-height: 100%;
}

.line input {
  position: relative;
  transform: translateY(60px);
}

.button-animated {
  outline: none;
  transform: translateY(30px);
  opacity: 0;
}

/* Flip cards animation */
.container-cards {
  width: 100%;
  height: 400vh;
}

.container-cards .cards {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 360px;
  perspective: 1000px;
}

.card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.card .card_title {
  font-size: 48px;
  line-height: 48px;
  text-shadow: 1px 1px 2px #000;
}

.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 3s infinite ease-in-out;
}

#card-1 .card-wrapper {
  animation-delay: 0;
}

#card-2 .card-wrapper {
  animation-delay: .2s;
}

#card-3 .card-wrapper {
  animation-delay: .4s;
}

#card-4 .card-wrapper {
  animation-delay: .6s;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: .8em;
  overflow: hidden;
}

.flip-card-back {
  padding: 1em;
  background-color: #fff;
  transform: rotateY(180deg);
}

/* Quality section animations */
.quality-left {
  position: relative;
  width: 100%;
  will-change: transform;
}

.quality-left-1 {
  left: -150%;
}

.quality-left-2 {
  left: -220%;
}

.quality-left-3 {
  left: -300%;
}

.quality-right {
  position: relative;
  width: 100%;
  will-change: transform;
}

.quality-right-1 {
  left: 150%;
}

.quality-right-2 {
  left: 220%;
}

.quality-right-3 {
  left: 300%;
}

.quality-coffee-cup {
  rotate: 180deg;
}

/* Products animations */
.product_animation-container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.product_subtitle {
  position: relative;
  transform: translateY(30px);
  line-height: 100%;
}

.product_title {
  position: relative;
  transform: translateY(50px);
  line-height: 100%;
}

.product_text-animated {
  position: relative;
  transform: translateY(90px);
  line-height: 100%;
}

@media (max-width: 960px) {
  .card-image {
    width: 50%;
    height: 240px;
  }
}

@media (min-width: 1280px) {
  .section-footer-animation {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Animations */

@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}